<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ch.qos.logback.beagle.core.category"
            name="Logback">
      </category>
      <view
            category="ch.qos.logback.beagle.core.category"
            class="ch.qos.logback.beagle.core.BeagleView"
            icon="icons/obj16/sailing-ship-16x16.png"
            id="ch.qos.logback.beagle.core.BeagleView"
            name="Beagle">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="ch.qos.logback.beagle.core.BeagleView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
