<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
        id="ch,"
        point="org.eclipse.ui.views">
    <category name="Logback"
              id="ch.qos.logback.beagle">
    </category>
    <view name="Beagle"
          icon="icons/ch/qos/logback/beagle/icons/sailing-ship-16x16.png"
          category="ch.qos.logback.beagle"
          class="ch.qos.logback.beagle.views.BeagleView"
          id="ch.qos.logback.beagle.views.BeagleView">
    </view>
  </extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
      <view ratio="0.5"
            relative="org.eclipse.ui.views.TaskList"
            relationship="right"
            id="ch.qos.logback.beagle.views.BeagleView">
      </view>
    </perspectiveExtension>
  </extension>
  <extension point="org.eclipse.help.contexts">
    <contexts file="contexts.xml">
    </contexts>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.eclipse.debug.ui.DebugPreferencePage"
           class="ch.qos.logback.beagle.preferences.BeaglePreferencesPage"
           id="ch.qos.logback.beagle.preferences"
           name="Beagle">
     </page>
  </extension>

  <extension point="org.eclipse.core.runtime.preferences">
     <initializer class="ch.qos.logback.beagle.preferences.BeaglePreferenceInitializer"/>
   </extension>
  <extension
        point="org.eclipse.ui.viewActions">
     <viewContribution
           id="ch.qos.logback.beagle.viewContributionClear"
           targetID="ch.qos.logback.beagle.views.BeagleView">
        <action
              class="ch.qos.logback.beagle.actions.ViewClearActionDelegate"
              icon="icons/ch/qos/logback/beagle/icons/clear_co.gif"
              id="ch.qos.logback.beagle.actions.clear"
              label="clear"
              style="push"
              toolbarPath="top"
              tooltip="Clear">
        </action>
        <action
              class="ch.qos.logback.beagle.actions.ViewScrollLockActionDelegate"
              disabledIcon="icons/ch/qos/logback/beagle/icons/lock_co_disabled.gif"
              icon="icons/ch/qos/logback/beagle/icons/lock_co.gif"
              id="ch.qos.logback.beagle.actions.scroll"
              label="scroll"
              style="toggle"
              toolbarPath="top"
              tooltip="Scroll lock/unlock">
        </action>
     </viewContribution>
  </extension>


</plugin>
