<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension point="org.eclipse.ui.views">
    <category name="Logback"
              id="ch.qos.logback.beagle">
    </category>
    <view name="Beagle"
          icon="icons/ch/qos/logback/beagle/icons/sailing-ship-16x16.png"
          category="ch.qos.logback.beagle"
          class="ch.qos.logback.beagle.views.BeagleView"
          id="ch.qos.logback.beagle.views.BeagleView">
    </view>
  </extension>
  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
      <view ratio="0.5"
            relative="org.eclipse.ui.views.TaskList"
            relationship="right"
            id="ch.qos.logback.beagle.views.BeagleView">
      </view>
    </perspectiveExtension>
  </extension>
  <extension point="org.eclipse.help.contexts">
    <contexts file="contexts.xml">
    </contexts>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.eclipse.debug.ui.DebugPreferencePage"
           class="ch.qos.logback.beagle.preferences.WorkbenchPreferences"
           id="ch.qos.logback.beagle.preferences"
           name="Beagle">
     </page>
  </extension>

  <extension point="org.eclipse.core.runtime.preferences">
     <initializer class="ch.qos.logback.beagle.preferences.PreferenceInitializer"/>
   </extension>

</plugin>
